---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<a href="/acercade"> Ir a Astro</a>
		<a href="/posts/post01"> Ir al readme</a>
		<a href="/readme"> Ir al readme2</a>
	</body>
</html>
